<MudCard @onclick="OnScoredClick" Class="m-0 p-0">
    <MudCardContent>
        <MudStack>
            <MudText Typo="Typo.h2"
                     Align="Align.Center"
                     Class="top-50 start-50 pointer-events-none">
                @Score
            </MudText>
                @if(Team.IsHome)
                {
                    <div class="d-flex flex-row">
                        <MudIcon Icon="@(Team.IsServing && ShowServing ? Icons.Material.Filled.Circle : string.Empty)"
                                 Size="Size.Small" 
                                 Class="d-flex justify-start"/>
                    </div>
                }
                else
                {
                    <div class="d-flex flex-row-reverse">
                        <MudIcon Icon="@(Team.IsServing && ShowServing ? Icons.Material.Filled.Circle : string.Empty)"
                                 Size="Size.Small"/>
                    </div>
                }
        </MudStack>
    </MudCardContent>
</MudCard>
