@using SportsScoreBoard.Components.Pages.Sports.Volleyball.ScoreComponents.Shared
@using SportsScoreBoard.Models.Volleyball
<div>
    <MudCard @onclick="OnScoredClick" Class="m-0 p-0">
        <MudCardContent>
            <MudStack>
                <ScoreText Score="Score"></ScoreText>
                <ServingIcon IsHome="Team.IsHome" IsVisible="Team.IsServing && Settings.ShowServing"/>
            </MudStack>
        </MudCardContent>
    </MudCard>
    @if (Settings.ManualScoringEnabled)
    {
        <ManualScoring Score="Score" IncrementScore="OnScoredClick" DecrementScore="OnDecrementScoreClick" 
                       IsHome="Team.IsHome"/>
    }
</div>

@code{
    [Parameter] public required Action IncrementScore { get; set; }
    [Parameter] public required Action DecrementScore { get; set; }
    [Parameter] public required VolleyballTeam Team { get; set; }
    [Parameter] public required VolleyballSettings Settings { get; set; }
    [Parameter] public required int Score { get; set; }
    
    private void OnScoredClick()
        => IncrementScore.Invoke();
    
    private void OnDecrementScoreClick()
        => DecrementScore.Invoke();
}