@if (IsHome)
{
    <div class="d-flex flex-row">
        <MudIcon Icon="@IconToShow"
                 Size="Size.Small"
                 Style="@ColorStyle"/>
    </div>
}
else
{
    <div class="d-flex flex-row-reverse">
        <MudIcon Icon="@IconToShow"
                 Size="Size.Small"
                 Style="@ColorStyle"/>
    </div>
}


@code
{
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public bool IsHome { get; set; }
    [Parameter] public string ColorStyle { get; set; } = string.Empty;

    private string IconToShow => IsVisible ? Icons.Material.Filled.Circle : string.Empty;
}
