@using SportsScoreBoard.Models
<div>
    <MudCard @onclick="IncrementScore" Class="m-0 p-0">
        <MudCardContent Style="@BackgroundStyle">
            <MudStack>
                <ScoreText Score="Score"
                           ColorStyle="@ForegroundColorStyle"/>
                <ServingIcon IsVisible="SettingsBase.ShowServing && Team.IsServing"
                             IsHome="Team.IsHome"
                             ColorStyle="@ForegroundColorStyle"/>
            </MudStack>
        </MudCardContent>
    </MudCard>
    <ManualScoring IsVisible="SettingsBase.ShowManualScoring"
                   Score="Score"
                   IncrementScore="IncrementScore"
                   DecrementScore="DecrementScore"
                   IsHome="Team.IsHome"/>
</div>

@code {

    [Parameter] public required EventCallback IncrementScore { get; set; }
    [Parameter] public required EventCallback DecrementScore { get; set; }
    [Parameter] public required TeamBase Team { get; set; }
    [Parameter] public required SettingsBase SettingsBase { get; set; }
    [Parameter] public required int Score { get; set; }

    private bool BackgroundColorIsSet => Team.Colors.Background is not null;
    private string BackgroundStyle => BackgroundColorIsSet ? $"background-color: {Team.Colors.Background}" : string.Empty;
    private bool ForegroundColorIsSet => Team.Colors.Foreground is not null;
    private string ForegroundColorStyle => ForegroundColorIsSet ? $"color: {Team.Colors.Foreground}" : string.Empty;
}